#slide{
    /* height: 100px; */
    position: relative;
    background-color: #333;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('/acans/img/chicago.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
   

}

#slide .text-content{
position: absolute;
color: #fff;
bottom: 48px;
text-align: center;
/* căn giữa các chữ */
left: 0;
right: 0;
}

#slide .text-heading{
font-weight: 500;
font-size: 24px;
}

#slide .text-sub-heading{
    margin-top: 25px;
font-size: 15px;
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

.content-section .section-heading{
    text-align: center;
    /* căn giữa các chữ */
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
    letter-spacing: 5px;
    /* cho các chữ cách xa nhau  */
}
.content-section .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    opacity: 0.6;
    font-style: italic;
    /* chữ nghiêng */
}
.content-section .about-text{
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    /* căn đều chữ 2 bên ra */
    line-height: 1.4;
    /* line được hiểu là căn ngang còn height là chiều cao */
}
